{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container py-5">
    <h1 class="mb-4 text-center">Register</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Already have an account? <a href="{% url 'login' %}">Log in here</a></p>
        <button type="submit" href="/" class="btn btn-success">Register</button>
    </form>
</div>
</body>
</html>
